<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Mobile Commerce</title>

	<meta name="description" content="Getting started with mobile commerce">
	<meta name="author" content="Saranyan Vigraham" />

	 
	<link href="./css/html5.css" rel="stylesheet" />
	
	<!-- <link href="css/impress-demo.css" rel="stylesheet" /> -->
 <!-- <script type="text/javascript">
document.onclick = function(e)
{
    var x = e.pageX;
    var y = e.pageY;
    alert("User clicked at position (" + x + "," + y + ")")
};
</script> -->

</head>
<body class="impress-fallback-message">

	<div id="impress">

		<div class="fallback-message">
			<p>Your browser <b>doesn't support all the features required</b>, so you are presented with a simplified version of this presentation.</p>
			<p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 (to be released soon) will also handle it.</p>
		</div>

		<div class="step" data-x="0" data-y="0" data-scale="3">
			<div style="margin-top: 250px"><h1>Getting Started with Mobile Commerce  </h1></div>
			
			<p>saranyan vigraham </p>
			<p>developer evangelist </p>
			<p>X.commerce </p>
		 <aside><img src="img/xlogo.jpeg" width="800" style="opacity:0.4;"></aside>
			
		</div>

<!-- 		<div id="title" class="step" data-x="5800" data-y="-300" data-scale="14">
			<img src="img/kb-paypal.jpg" width="800" style="margin-right: 100px; margin-bottom:-70px;">
		</div>  -->

		<!-- <div id="title" class="step active present" data-x="-8000" data-y="-1000" data-scale="14" style="position: absolute; ">

					<span class="small">what is</span>
					<h1 style = "font-size:50px;">mobile commerce?</h1>
				</div>
				<div class="step" data-x="-6000" data-y="-800" data-scale="10">
					<img src="img/kb-paypal.jpg" width="1600" style="margin-right: 100px; margin-bottom:-100px;">
					


				</div> -->
		
		<div class="step" data-x="0" data-y="2000" data-scale="1" >
			<h1> What  <b> is </b>  mobile commerce? </h1>		
			
			<p style="font-size:20px">Mobile Commerce, also known as M-Commerce or mCommerce, is the ability to conduct <span style="background-color:black;color:white;">commerce</span> using a mobile device, such as a mobile phone {Source: Wikipedia}</p>						
		</div>
		
	
		
		<div class="step" data-x="0" data-y="4000" data-scale="1" >
						<img src="img/mobile_behavior.png" width="550" style="margin-right:200px; margin-bottom:50px;" >
						
					</div>
					
	
			<div class="step" data-x="0" data-y="6000" data-scale="1" >
							<img src="img/mobile_payment.png" width="600" style="margin-right:200px; margin-bottom:75px;"  >
			</div>
		
	
		
		<!-- <div class="step" data-x="0" data-y="5000" data-scale="1" >
				<h1> story of  <b> mPESA </b> </h1>
				<iframe width="560" height="315" src="http://www.youtube.com/embed/B6m3xb6T5kk" frameborder="0" allowfullscreen></iframe>							
			</div> -->

		<!-- <div class="step" data-x="2000" data-y="5000" data-scale="1" >
					<img src="img/infographic.png" width="800" style="margin-right: 100px; margin-bottom:-100px;">
					<br/><br/><br/>
					<h1> is it <b> technology </b> ? </h1>
				</div> -->

		<div class="step" data-x="0" data-y="8000" data-scale="1" >
						<p style="font-size:50px;margin-top:200px;"> Mobile commerce is <span style="background-color:black;color:white"> behavior <span></p>
		</div>

		<div class="step" data-x="0" data-y="10000" data-scale="1" >
			<img src="img/frictionless.png" width="800" style="margin-right: 100px; margin-bottom:100px;">
		</div>

		<div class="step" data-x="0" data-y="12000" data-scale="1" >
			<img src="img/paypal-hands.jpg" width="1400" style="margin-right:-250px;margin-bottom:50px;">
		</div>
		
		<!-- <div class="step" data-x="8000" data-y="-3000" data-scale="1" >
				<img src="img/mpesa.jpeg" width="1400" style="margin-right: -250px; margin-bottom:10px;" >
			</div> -->

		<div class="step" data-x="2000" data-y="12000" data-rotate="90" data-scale="4">
			
        <p style="margin-top:300px">mCommerce <strong>includes</strong> <br/>
        <a href="#">Banking</a>, <a href="#">Payments</a>, <a href="#">Advertising</a>, <a href="#">Entertainment</a> <br/>and more!!</p>
			
    </div>

		<div class="step" data-x="2000" data-y="10000" data-rotate="90" data-scale="1">
			
        <p style="margin-top:200px">
        <a href="#">eCommerce</a></p>
			  <img src="img/ecommtag.jpeg" width="300" style="margin-bottom:250px;margin-right:200px;" >
			
    </div>

  	<div class="step" data-x="2000" data-y="8000" data-rotate="90" data-scale="1">
			
        <p style="margin-top:200px">
        <a href="#">mCommerce</a><span style="margin-left:100px">what cart?</span></p>
			  <img src="img/cart.jpg" width="300" style="margin-right:400px;margin-bottom:150px;">
    </div>

		<!-- <div id="ecommerce" class="step" data-x="9000" data-y="-3000" data-scale="1" data-rotate="60" >
				<p>eCommerce = commerce <strong>online</strong> <br/>
					mCommerce = commerce <strong>everywhere</strong> </p>
				<img src="img/ecommerce.jpg" width="600" style="margin-left:-350px; margin-bottom:-100px; opacity: 1;">
			</div> -->
		
		<div class="step" data-x="2000" data-y="6000" data-scale="1" >
			
			<p> the line between online and offline is <span style="font-size:100px; opacity:0.5;"><b>blurring</b> </span> </p>
			<img src="img/forrester_black.png" width="600" style="margin-right:200px;margin-bottom:200px;" >
		</div>
		
		<div class="step" data-x="2000" data-y="4000" data-rotate="90" data-scale="1">       
        <p style="margin-left:50px;"><strong>eBay Inc.</strong> is right at the epicenter of commerce revolution <br/>
				
			  <img src="img/xlogo.jpeg" width="800" style="opacity:0.4;margin-bottom:150px;">
    </div>
		
		<div class="step" data-x="2000" data-y="2000" data-rotate="90" data-scale="1">
			 <img src="img/xlogo.png" width="800" style="opacity:0.4;margin-bottom:150px;">
        <!-- <p style="margin-left:50px;"><strong>eBay Inc.</strong> is right at the epicenter of commerce revolution <br/></p> -->
				<br/>
				<br/>
				<br/>
				<p style="margin-left:50px;"><a href="#">Payments</a><span style="margin-left:100px;float:right">PayPal & Zong</span></p>
				<p style="margin-left:50px;"><a href="#">Marketplace</a><span style="margin-left:100px;float:right">eBay</span></p>
				<p style="margin-left:50px;"><a href="#">Barcode Scanning</a><span style="margin-left:100px;float:right">RedLaser</span></p>
				<p style="margin-left:50px;"><a href="#">Local Inventory</a><span style="margin-left:100px;float:right">Milo</span></p>
				<p style="margin-left:50px;"><a href="#">Location Based Offers</a><span style="margin-left:100px;float:right">Where</span></p>
				<p style="margin-left:50px;"><a href="#">Storefront</a><span style="margin-left:100px;float:right">Magento</span></p>
				<p style="margin-left:50px;"><a href="#">Recommendations</a><span style="margin-left:100px;float:right">Hunch</span></p>
				<p style="margin-left:50px;"><a href="#">Identity</a><span style="margin-left:100px;float:right">PayPal Access</span></p>
			  
    </div>

		<div class="step" data-x="2000" data-y="0" data-rotate="90" data-scale="1">       
			  <h1> What are you selling? </h1>
			<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Payments</p>
			  <br/>
        <p><a href="#">Digital Goods</a><span style="margin-left:100px;float:right"><strong>PayPal</strong> and <strong>Zong</strong></span> <br/>
				<p><a href="#">Physical Goods</a><span style="margin-left:100px;float:right"><strong>PayPal</strong></span> <br/>
				
			  <img src="img/zong.jpeg" width="400" style="margin-bottom:150px; margin-right:50px">
			  <img src="img/creditcard.jpeg" width="400" style="margin-bottom:0px; margin-right:500px">
			
    </div>

		<div class="step" data-x="2000" data-y="-2000" data-rotate="90" data-scale="1">       
			  <h1> PayPal MPL </h1>
			<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Payments</p>
				<p> The mobile payment library can be used for in-app purchases from iOS and Android apps </p>
			  <br/>
        
				
			  <img src="img/mpl.png" width="600" style="margin-bottom:250px; margin-right:150px">
			 
    </div>

			<div class="step" data-x="2000" data-y="-4000" data-rotate="90" data-scale="1">       
				  <h1> PayPal MECL </h1>
				<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Payments</p>
					<p> The mobile payment library can be used for in-app purchases from mobile web apps </p>
				  <br/>


				  <img src="img/mecl.png" width="600" style="margin-bottom:250px; margin-right:150px">
					
	    </div>
	
			<div class="step" data-x="2000" data-y="-6000" data-rotate="90" data-scale="1">       
				  <h1> Zong HPS </h1>
				  <p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Payments</p>
					
					<p> Zong hosted payment solution can be used for in-app purchases via carrier billing </p>
				  <br/>
				  <img src="img/zong.png" width="600" style="margin-bottom:250px; margin-right:150px">
					
	    </div>
	
			<div class="step" data-x="2000" data-y="-8000" data-rotate="90" data-scale="1">       
				<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Payments</p>
				
				  <div class="left" style="margin-left:40px">
					 <h1> PayPal </h1>
					<ol style="font-size:18px;background-color: #f0f0f0;">
						<li> <a href="https://www.x.com/mobile">https://www.x.com/mobile</a> </li>
						<li> Download libraries & create Sandbox accounts </li>
						<li> Import SDK into your app </li>
						<li> Set payment info </li>
						<li> Launch Payment process </li>
						<li> Handle PayPal callbacks </li>
						</ol>
							<br/>
						<p style="font-size:16px">code: <a href="http://github.com/paypalx/tech-talks"> http://github.com/paypalx/tech-talks </a>  </p>
					</div>
					
					
					<div class="right">
						<h1> Zong </h1>
						
								<ol style="font-size:18px;background-color: #f0f0f0;">
									<li> <a href="http://zong.com/merchants/get-started">	http://zong.com/merchants/get-started</a> </li>
									<li> Obtain SDK & test accounts </li>
									<li> Import SDK into your app </li>
									<li>Choose your markets and price points, set what the customer is buying</li>
									<li> Launch Payment process </li>
									<li> Handle Zong callbacks </li>
									</ol>

					</div>
				
					
	    </div>
	
			<div class="step" data-x="2000" data-y="-10000" data-rotate="90" data-scale="1">       
				  <h1> PayPal Payments </h1>
					<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Payments</p>
				
					<p> Have a business case on how you want to move money? PayPal got you covered. </p>
				  <br/>
				  <img src="img/paypal_payments.png" width="600" style="margin-right:200px;margin-bottom:50px;">
					
	    </div>
			
			<div class="step" data-x="2000" data-y="-12000" data-rotate="90" data-scale="1">       
				  <h1> RedLaser </h1>
					<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Discovery</p>
				
					<p> Scan multiple <a href="#">barcodes</a> and <a href="#">QRcodes</a> at once. </p>
				  <br/>
				  <img src="img/barcodes.jpeg" width="400" style="margin-right:200px;margin-bottom:250px;">	
	    </div>
	
				<div class="step" data-x="-2000" data-y="-12000" data-rotate="90" data-scale="1">       
					  <h1> RedLaser </h1>
					<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Discovery</p>
						<p> What the app can do? </p>
					  <br/>
					  <img src="img/redlaser.png" width="800" style="margin-left:150px;margin-bottom:250px;">
						
		    </div>
				
				<div class="step" data-x="-2000" data-y="-10000" data-rotate="90" data-scale="1">   
					<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Discovery</p>    
					  <div style="margin-left:40px;">
						 <h1> RedLaser </h1>
						<ol style="font-size:18px;background-color: #f0f0f0;">
							<li> Download the SDK </li>
							<li> Import the libraries </li>
							<li> Customize your scans by creating a new activity that extends <a href="#">BarcodeScanActivity</a> </li>
							<li> Start activity and handle result </li>
							<li> Use <a href="#">eBay finding API</a> or <a href="#">Google Product Search API</a>to find products based on identified code</li>
							</ol>
							<img src="img/barcodes.jpeg" width="400" style="margin-right:200px;margin-bottom:250px;">
							</div>
					</div>
					
					<div class="step" data-x="-2000" data-y="-8000"  data-scale="1">       
						  <h1> Milo </h1>
						<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Location</p>
							<p> A location based inventory search from over 50K+ store in the US. </p>
							<img src="img/milo_api.png" width="400" style="margin-right:250px;margin-bottom:150px;">
							
			    </div>
			
						<div class="step" data-x="-2000" data-y="-6000" data-scale="1">       
							  <div style="margin-left:40px;">
								 <h1> Using Milo API </h1>
								<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:-100px;">Location</p>
								<ol style="font-size:18px;background-color: #f0f0f0;">
									<li> Obtain an API key from <a href="https://devportal.x.com"> https://devportal.x.com</a> </li>
									<li> Obtain a product using the products endpoint </li>
									<li> Obtain store information using store_addresses endpoint </li>
									<li> Obtain item availability info using availability endpoint </li>
									<li> Try this out using the official Milo API console <a href="https://apigee.com/console/gomilo"> https://apigee.com/console/gomilo</a></li>
									</ol>
									
									</div>
							</div>
							
								<div class="step" data-x="-2000" data-y="-4000"  data-scale="1">       
									  
										<p style="font-face:bold;color:#f0f0f0;font-size:250px;margin-top:-150px;margin-left:-100px;">Identity</p>
										<p style="margin-top:-100px;"> Social identity is <strong>NOT</strong> commerce identity </p>
										<img src="img/fbid.jpeg" width="1200" style="margin-right:-150px;margin-bottom:-150px;">
										<!-- <p style="font-face:bold;color:#f0f0f0;font-size:250px;margin-bottom:10px;margin-left:-100px;">Identity</p> -->
										

						    </div>
						
						<div class="step" data-x="-2000" data-y="-2000"  data-scale="1">       
							<h1>What is a commerce identity?</h1>
							<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:0px;">Identity</p>
							<br/>
							<br/>
								<p style="margin-left:25px;"><a href="#">Habits</a><span style="margin-left:100px;float:right">Leverage to build apps</span></p>
								<p style="margin-left:25px;"><a href="#">Trust</a><span style="margin-left:100px;float:right">Use purchasing history to build trust</span></p>
								<p style="margin-left:25px;"><a href="#">Integration</a><span style="margin-left:100px;float:right">Identity + Payment System</span></p>
								<p style="margin-left:25px;"><a href="#">Social</a><span style="margin-left:100px;float:right">Making buyings systems truly social</span></p>
								<p style="margin-left:25px;"><a href="#">Easy</a><span style="margin-left:100px;float:right">Make it easy to shop</span></p>
								

				    </div>
			
				<div class="step" data-x="-2000" data-y="0" data-scale="1">    
					<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:0px;">Identity</p>
					<h1> PayPal Access </h1>   
					  <div style="margin-left:40px;">
						 
							<img src="img/access.png" width="400" style="margin-right:200px;margin-bottom:10px;">
							
					 </div>
						
					</div>
				
					<div class="step" data-x="-2000" data-y="2000" data-scale="1">    
						<h1> Segmentation API </h1>   
							<p style="position:absolute;color:#f0f0f0;font-size:250px;zindex:0;bottom:10px;margin-left:0px;">Identity</p>
						  <div style="margin-left:40px;">

								<img src="img/segments.png" width="800" style="margin-left:200px;margin-bottom:400px;">

						 </div>
							

						</div>
						
				<div class="step" data-x="-2000" data-y="4000" data-rotate="90" data-scale="1">       
		        <p style="font-face:bold;font-size:100px;margin-left:50px;"><strong>what</strong> is <br/>
					  <img src="img/xlogo.jpeg" width="800" style="margin-bottom:150px;">
		    </div>
		
				<div class="step" data-x="-2000" data-y="6000" data-rotate="90" data-scale="1">       
		        <p style="font-face:bold;font-size:100px;margin-left:50px;"><strong>Developers</strong> are <br/>
					  <img src="img/xlogo.jpeg" width="800" style="margin-bottom:150px;">
		    </div>
		
				<div class="step" data-x="-2000" data-y="8000" data-rotate="90" data-scale="1">       
		        <p style="font-face:bold;font-size:50px;margin-left:50px;">provides developers an amazing <strong>opportunity</strong> to rock 
			the commerce landscape <br/>
					  <img src="img/xlogo.jpeg" width="800" style="margin-bottom:150px; opacity:0.4;">
		    </div>
		
					<div class="step" data-x="-2000" data-y="10000" data-rotate="90" data-scale="1">    
						<p style="font-face:bold;font-size:50px;margin-left:50px;">Thank you! <br/> </p>
							<p style="font-face:bold;font-size:25px;margin-left:50px;"> saranyan@x.com 
							<a href="https://twitter.com/saranyan" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @saranyan</a></p>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</br>
						<p style="font-size:750px; margin-left:100px;margin-top:-200px; -webkit-transform: rotate(90deg); 
							-moz-transform: rotate(90deg);"> <strong> :) </strong></h1>   
			       
						  
			    </div>

	</div>


	<script src="./js/impress.js"></script>
	<script>impress().init();</script>
</body>
</html>
